{% extends "browse.html" %}

{% block search %}
<div class="col-md-6 top-buffer">
  <form>
    <div class="form-group">
      <label>Search in names and illustrations</label>
      <input v-model="search_string" class="form-control" placeholder="не говоря о" onkeydown="if(event.keyCode==13){return false;}">
    </div>
  </form>
</div>
<div class="col-md-6">
  {{ macros::treeselect(key="level") }}
</div>
{% endblock search %}

{% block carousel %}

<div id="carouselExampleIndicatorsEng" class="carousel slide pl-5 pr-5 pt-2 pb-5 mr-5 mt-5" data-ride="carousel" style="background-color: rgba(159,123,154, 0.4); width:100%; height: 300px">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicatorsEng" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicatorsEng" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicatorsEng" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicatorsEng" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicatorsEng" data-slide-to="4"></li>

  </ol>
  <div class="carousel-inner px-3">
    <div class="carousel-item active px-5">
      <h1 class="d-block mx-auto w-70 h-100">What is a construction?</h1><br>
      Constructions are structural units of language, prominent linguistic patterns that form sentences and phrases.
      Constructions are arguably stored in speakers’ minds as prefabricated units.
      Some constructions are simple like the English construction <i>My <b>name is</b> John</i>.
      Others are more complex like the English <i>nice-of-you</i> construction, as in <i><b>It’s</b> nice <b>of</b> you <b>to</b> call.</i>
      Constructions often have a fixed part (the anchor) and variable parts (slots).
      For example, <i><b>It’s</b></i>, <i><b>of</b></i>, and <i><b>to</b></i> are anchor words, whereas <i>nice</i>, <i>you</i> and <i>call</i> are fillers of the slots.
      Because fillers can vary, one can employ the same construction to produce various utterances,
      such as <i><b>It’s</b> bad <b>of</b> him <b>to</b> come late</i> or <i><b>It’s</b> sweet <b>of</b> them <b>to</b> ask</i>.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">What is a constructicon?</h1><br>
      A constructicon is a system of constructions in a language and a thorough description of this system.
      Constructions are closely related to each other and form families, clusters, and networks.
      A constructicon resource represents constructions, their properties and relationships in the form of an
      electronic database.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">What is the purpose of the Russian Constructicon?</h1><br>
      The resource helps learners of Russian acquire constructions and understand their properties and uses.
      Constructions are numerous and can be language-specific and challenging for learners to master.
      However, textbooks and dictionaries often fail to provide readers with explicit information on constructions.
      The resource is also useful for researchers of language: specialists in Russian, Slavic languages, and typology.
      The collected data can furthermore serve to improve automatic translation software.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">What can you find here?</h1><br>
      Here you can find over 2200 prominent Russian constructions.
      We explain their structure and meaning and illustrate their use.
      Each construction is accompanied with English and Norwegian equivalents.
      You can search for constructions by meaning, anchor words, level of language proficiency, and other parameters.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">Who built this resource and how? </h1><br>
      The Russian Constructicon is a joint project of the research group <a href="https://site.uit.no/clear/">CLEAR</a> at UiT -
      The Arctic University of Norway and <a href="https://ling.hse.ru/en/">the School of Linguistics</a> at HSE University (Moscow).
      We adopt the Construction Grammar approach to language and use data from <a href="https://ruscorpora.ru/en/">the Russian National Corpus</a>.
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicatorsEng" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicatorsEng" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="carouselExampleIndicators" class="carousel slide pl-5 pr-5 pt-2 pb-5 mr-5 mt-5" data-ride="carousel" style="background-color: rgba(180,210,112, 0.4); width:100%; height: 300px">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner px-3">
    <div class="carousel-item active px-5">
      <h1 class="d-block mx-auto w-70 h-100">Что такое конструкции?</h1><br>
      Это структуры, которые, как кирпичики, образуют предложения и их
      части. Есть простые конструкции,
      например, <i>Меня зовут Петя</i>, а есть сложные — <i>Он нет-нет да и
      спросит</i>. Все они имеют фиксированную (якорь) и переменные
      части (слоты): якоря <i>зовут</i> и <i>нет-нет да и</i> окружены слотами с
      заранее заданными свойствами. По-разному заполняя слоты одной
      конструкции, можно говорить разные вещи: <i>Мою дочку зовут Маша,
      Повара зовут Иван Петрович…</i> или: <i>Я нет-нет да и ошибусь, Нет-нет да и скажешь какую-нибудь ерунду</i>.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">Что такое конструктикон? </h1><br>
      Конструктикон — это система конструкций в языке, а также подробное описание этой системы.
      Конструкции тесно связаны друг с другом и образуют семьи, гнёзда и сети.
      Конструкции, их свойства и отношения представлены в виде электронной базы данных.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">В чём задача Русского Конструктикона?</h1><br>
      Помочь изучающим русский язык научиться употреблять конструкции и узнать их свойства.
      Конструкций в языке очень много, в каждом языке они свои, а учат им редко, и в словарях их трудно найти.
      Собранные сведения о русских конструкциях будут полезны и исследователям языка — русистам, славистам и типологам.
      Также данные Русского Конструктикона можно использовать для улучшения программ автоматического перевода.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">Что можно узнать?</h1><br>
      Здесь вы найдёте разнообразные интересные конструкции русского языка.
      Мы объясняем их устройство, значение и приводим примеры использования.
      Для каждой конструкции вы найдёте ближайший по значению эквивалент в английском и норвежском языках.
      Вы можете искать конструкции по значению, отдельным словам, уровню владения русским языком как иностранным и
      другим параметрам.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">Как сделан этот ресурс?</h1><br>
      Русский Конструктикон – это совместный проект <a href="https://site.uit.no/clear/">группы CLEAR</a> из
      Норвежского Арктического Университета (Тромсе) и <a href="https://ling.hse.ru/">Школы
      лингвистики</a> НИУ ВШЭ (Москва). Мы используем теоретические
      рамки Грамматики конструкций и опираемся на данные
      Национального корпуса русского языка (<a href="https://ruscorpora.ru/">НКРЯ</a>).
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock carousel %}
